<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"className":"container mx-auto bg-white mb-8","layout":{"type":"default"}} -->
<div class="wp-block-group container mx-auto bg-white mb-8">
    <!-- wp:greenergy/scroll-progress /-->
    <!-- wp:group {"className":"w-full inline-flex flex-col justify-start gap-4","layout":{"type":"default"}} -->
    <div class="wp-block-group w-full inline-flex flex-col justify-start gap-4">
        <!-- wp:greenergy/breadcrumb /-->
        <!-- wp:greenergy/main-banner {"title":"دليلك الشامل لاكتشاف أبرز الشركات والمشاريع في مجال الطاقة النظيفة","subtitle":"الشركات"} /-->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"mb-8","layout":{"type":"default"}} -->
<div class="wp-block-group mb-8">
    <!-- wp:greenergy/stories /-->
</div>
<!-- /wp:group -->
<!-- wp:group {"className":"container mx-auto","layout":{"type":"default"}} -->
<div class="wp-block-group container mx-auto">
    <!-- wp:greenergy/all-companies /-->
    <!-- wp:greenergy/weekly-selected-company /-->
</div>
<!-- /wp:group -->
<!-- wp:greenergy/ad-block {"height":"275px","hasContainer":true} /-->
<div class="wp-block-group container mx-auto mb-8">
    <!-- wp:greenergy/add-your-company /-->
</div>
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->