<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"className":"container mx-auto bg-white mb-8","layout":{"type":"default"}} -->
<div class="wp-block-group container mx-auto bg-white mb-8">
    <!-- wp:greenergy/scroll-progress /-->
    <!-- wp:group {"className":"w-full inline-flex flex-col justify-start gap-4","layout":{"type":"default"}} -->
    <div class="wp-block-group w-full inline-flex flex-col justify-start gap-4">
        <!-- wp:greenergy/breadcrumb /-->
        <!-- wp:greenergy/main-banner {"title":"هنا يجتمع قادة الفكر في الطاقة المتجددة","subtitle":"الدليل","showDesc":true,"desc":"دليل الخبراء يربطك بالمستشارين، الباحثين، والمدرّبين الذين يقودون مشاريع الطاقة النظيفة — تصفّح، تواصل، وتعلم من الأفضل."} /-->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"mb-8","layout":{"type":"default"}} -->
<div class="wp-block-group mb-8">
    <!-- wp:greenergy/stories /-->
</div>
<!-- /wp:group -->
<!-- wp:group {"className":"container mx-auto","layout":{"type":"default"}} -->
<div class="wp-block-group container  my-14">
    <!-- wp:greenergy/weekly-expert /-->
    <!-- wp:greenergy/featured-experts /-->
    <!-- wp:greenergy/all-experts /-->
</div>
<!-- /wp:group -->
<!-- wp:greenergy/ad-block {"height":"275px","hasContainer":true} /-->
<div class="wp-block-group container mx-auto mb-8">
    <!-- wp:greenergy/are-you-an-expert /-->
</div>
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->