<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"className":"container mx-auto bg-white mb-8","layout":{"type":"default"}} -->
<div class="wp-block-group container mx-auto bg-white mb-8">
    <!-- wp:greenergy/scroll-progress /-->
    <!-- wp:group {"className":"w-full inline-flex flex-col justify-start gap-4","layout":{"type":"default"}} -->
    <div class="wp-block-group w-full inline-flex flex-col justify-start gap-4">
        <!-- wp:greenergy/breadcrumb /-->
        <!-- wp:greenergy/main-banner {"title":"من هنا يبدأ التحول — استكشف محطات الطاقة المتجددة","subtitle":"الدليل","showDesc":true,"desc":"خريطة تفاعلية تعرض محطات شمسية ورياح ومائية وأنظمة هجينة. اضغط على أي محطة لرؤية التفاصيل، أو استخدم قائمة المحطات للتنقّل السريع.","showStats":true,
         "stats":[{"value":"0","label":"محطة","icon":"flag.svg","iconType":"platform","mode":"dynamic","dataSource":"projects_count"},
         {"value":"1000","label":"كمية الكربون المتوفرة","icon":"home-trend-up.svg","iconType":"platform","mode":"manual"},
         {"value":"0","label":"دولة","icon":"global.svg","iconType":"font-awesome", "faIcon":"fa-solid fa-globe","faIconSize":18,"mode":"dynamic","dataSource":"projects_countries_count"}]} /-->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"mb-8","layout":{"type":"default"}} -->
<div class="wp-block-group mb-8">
    <!-- wp:greenergy/stories /-->
</div>
<!-- /wp:group -->
<!-- wp:group {"className":"container mx-auto","layout":{"type":"default"}} -->
<div class="wp-block-group container mx-auto">
    <!-- wp:greenergy/featured-projects /-->
    <!-- wp:greenergy/all-projects /-->
</div>
<!-- /wp:group -->
<!-- wp:greenergy/ad-block {"height":"275px","hasContainer":true} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->