<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"className":"container mx-auto bg-white mb-8 is-editor-no-links"} -->
<div class="wp-block-group container mx-auto bg-white mb-8 is-editor-no-links">
    <!-- wp:greenergy/scroll-progress /-->
    <!-- wp:group {"className":"w-full inline-flex flex-col justify-start gap-4"} -->
    <div class="wp-block-group w-full inline-flex flex-col justify-start gap-4">
        <!-- wp:greenergy/breadcrumb /-->
        <!-- wp:greenergy/main-banner {"subtitle":"التدريبات","title":"تعلم معنا"} /-->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:greenergy/stories /-->

<!-- wp:group {"className":"container mx-auto bg-white mb-8 "} -->
<div class="wp-block-group container mx-auto bg-white mb-8">

    <!-- wp:greenergy/all-courses /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->