<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:greenergy/scroll-progress /-->
<!-- wp:greenergy/hero-block /-->
<!-- wp:greenergy/stories /-->
<!-- wp:greenergy/most-read-news /-->

<!-- wp:greenergy/ad-block {"height":"275px","adType":"image","adLink":"#"} /-->

<!-- wp:greenergy/stats /-->

<!-- wp:greenergy/ad-block {"height":"275px","adType":"image","adLink":"#"} /-->

<!-- wp:greenergy/latest-news /-->

<!-- wp:greenergy/ad-block {"height":"275px","adType":"image","adLink":"#"} /-->

<!-- wp:greenergy/courses /-->
<!-- wp:greenergy/jobs /-->

<!-- wp:greenergy/ad-block {"height":"275px","adType":"image","adLink":"#"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
