<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"className":"container mx-auto bg-white mb-8 is-editor-no-links"} -->
<div class="wp-block-group container mx-auto bg-white mb-8 is-editor-no-links">
    <!-- wp:greenergy/scroll-progress /-->
    <!-- wp:group {"className":"w-full inline-flex flex-col justify-start gap-4"} -->
    <div class="wp-block-group w-full inline-flex flex-col justify-start gap-4">
        <!-- wp:greenergy/breadcrumb /-->
        <!-- wp:greenergy/main-banner {"title":"من هنا يبدأ التحول — استكشف محطات الطاقة المتجددة","subtitle":"الدليل","showDesc":true,"desc":"خريطة تفاعلية تعرض محطات شمسية ورياح ومائية وأنظمة هجينة. اضغط على أي محطة لرؤية التفاصيل، أو استخدم قائمة المحطات للتنقّل السريع.","showStats":true,
         "stats":[{"value":"0","label":"محطة","icon":"flag.svg","iconType":"platform","mode":"dynamic","dataSource":"projects_count"},
         {"value":"1000","label":"كمية الكربون المتوفرة","icon":"home-trend-up.svg","iconType":"platform","mode":"manual"},
         {"value":"0","label":"دولة","icon":"global.svg","iconType":"font-awesome", "faIcon":"fa-solid fa-globe","faIconSize":18,"mode":"dynamic","dataSource":"projects_countries_count"}]} /-->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:greenergy/stories /-->

<!-- wp:group {"className":"container mx-auto mt-8 is-editor-no-links"} -->
<div class="wp-block-group container mx-auto mt-8 is-editor-no-links">
    <!-- wp:columns {"className":"gap-6"} -->
    <div class="wp-block-columns gap-6">
        <!-- wp:column {"className":"flex-1"} -->
        <div class="wp-block-column flex-1 sticky top-0 h-fit">
            <!-- wp:group {"className":"p-4 max-sm:p-0 bg-white rounded-2xl shadow-sm"} -->
            <div class="wp-block-group max-sm:p-0 bg-white rounded-2xl shadow-sm">
                <!-- wp:group {"className":"flex flex-col gap-2"} -->
                <div class="wp-block-group flex flex-col gap-2">
                    <!-- wp:greenergy/company-overview /-->
                    <!-- wp:post-content /-->
                    <!-- wp:template-part {"slug":"social-media-share-btns","tagName":"div","attrs":{"title":"شارك المشروع"}} /-->
                </div>
                <!-- /wp:group -->
                <!-- wp:group {"className":"md:hidden flex overflow-x-auto gap-4"} -->
                <div class="wp-block-group md:hidden flex overflow-x-auto gap-4">
                    <!-- wp:greenergy/directory-widget /-->
                    <!-- wp:greenergy/courses-widget /-->
                    <!-- wp:greenergy/featured-jobs-widget /-->
                    <!-- wp:greenergy/ad-block {"height":"100%","width":"20rem","hasContainer":false} /-->
                    <!-- wp:greenergy/follow-us-widget /-->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:column -->
        <!-- wp:column {"width":"25%","className":"max-lg:hidden"} -->
        <div class="wp-block-column max-lg:hidden sticky top-0 h-fit" style="flex-basis:25%">
            <!-- wp:greenergy/directory-widget /-->
            <!-- wp:greenergy/ad-block {"height":"136px","hasContainer":false} /-->
            <!-- wp:greenergy/courses-widget /-->
            <!-- wp:greenergy/ad-block {"height":"136px","hasContainer":false} /-->
            <!-- wp:greenergy/featured-jobs-widget /-->
            <!-- wp:greenergy/ad-block {"height":"136px","hasContainer":false} /-->
            <!-- wp:greenergy/follow-us-widget /-->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
    <!-- wp:greenergy/related-projects /-->
    <!-- wp:greenergy/ad-block {"height":"275px","hasContainer":false} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->