<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"className":"container mx-auto bg-white mb-8","layout":{"type":"default"}} -->
<div class="wp-block-group container mx-auto bg-white mb-8">
    <!-- wp:greenergy/scroll-progress /-->
    <!-- wp:group {"className":"w-full inline-flex flex-col justify-start gap-4","layout":{"type":"default"}} -->
    <div class="wp-block-group w-full inline-flex flex-col justify-start gap-4">
        <!-- wp:greenergy/breadcrumb /-->
        <!-- wp:greenergy/main-banner /-->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"mb-8","layout":{"type":"default"}} -->
<div class="wp-block-group mb-8">
    <!-- wp:greenergy/stories /-->
</div>
<!-- /wp:group -->

<!-- wp:greenergy/single-news-content /-->

<!-- wp:group {"className":"container mx-auto px-4","layout":{"type":"default"}} -->
<div class="wp-block-group container mx-auto px-4">
    <!-- wp:greenergy/ad-block {"height":"275px","hasContainer":true} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
